.menu_container {
    -fx-background-color: #ffffff;
    -fx-alignment: center;
    -fx-padding: 0,10,0,10;
}

.left_container AnchorPane{
    -fx-background-radius: 10;
    -fx-background-color: #ffffff;

}

.left_container_admin_VBox {
    -fx-spacing: 15;
}

.left_container {
    -fx-background-color: #EEEEEE;
    /*-fx-background-radius: 10;*/
    /*-fx-effect: dropshadow(two-pass-box, #ffffff, 5,0,0,4);*/
}

.left_container Button:hover{
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}

.left_container Button:pressed{
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

/* Title / Log section */

.title_container{
    -fx-background-color: #ffffff;
    -fx-background-radius: 20 20 0 0;
    -fx-alignment: top_center;
    -fx-padding: 10;

}

.title_container FontAwesomeIconView {
    -fx-fill: #04113d;
}

.title_container Text {
    -fx-fill: #000000;
    -fx-font-size: 2em;

}

/* Navigation Section */

.menu_container {
    -fx-padding: 10 10 10 20 ;
    -fx-spacing: 20;
    -fx-background-color: #ffffff;

}

.menu_container Button {
    -fx-pref-width: 130;
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #04113D;
    -fx-font-size: 1.1em ;
    -fx-alignment: center_left;
    -fx-effect: dropshadow(two-pass-box, #000000,5,0,0,6);
    -fx-text-alignment: center;

}


.menu_container Button:hover {
    -fx-cursor: hand;
}

.menu_container Button FontAwesomeIconView {
    -fx-fill: #04113D;

}

.alt_menu_btn {
    -fx-pref-width: 130;
    -fx-pref-height: 40;
    -fx-background-color: #04113D;
    -fx-font-size: 1.1em;
    -fx-alignment: center_left;
    -fx-text-fill: white;
    /*-fx-effect: dropshadow(two-pass-box,#FFFFFF,0,0,0,0);*/

}

.alt_menu_btn FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}


/* Report Bug Suggestions */
.report_container {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0,0,20,20;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10 0 10 0;

}

.report_container Text {
    -fx-font-weight: bold;
    -fx-fill: #04113D;

}

.report_container Label {
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.report_container Button {
    -fx-pref-width: 80;
    -fx-background-color: #04113D;
    -fx-text-fill: White;

}

.report_container Button:hover {
    cursor: hand;
}

.report_container Button FontAwesomeIconView {
    -fx-fill: white;
}
