.accountView_container {
    -fx-background-color: #EEEEEE;

}

.accountView_container Text {
    -fx-fill: #888888;
    -fx-font-size: 1.4em;
    -fx-font-family: "Calibri Light";

}

.accountView_container VBox {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 10, 0, 0, 10);
    -fx-background-color: linear-gradient(to right,#04113D,#047dc2);
    -fx-border-width: 0 0 0 3;
    -fx-border-color: #888888;
    -fx-padding: 10;
    -fx-spacing: 15;

}

.accountView_container VBox Text {
    -fx-font-size: 1.2em;
    -fx-fill: #ffffff;
    /*-fx-font-weight: bold;*/
}

.accountView_container VBox Label {
    -fx-font-size: 1.4em;
-fx-font-weight: bold;
    -fx-fill: #EEEEEE;
    -fx-text-fill: #ccec62;

}

.accountView_container VBox:hover{
    -fx-scale-y: 1.03;
    -fx-scale-x: 1.03;
}

.accountView_container TextFiled {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 3, 1.0, 3, 3);


}

.accountView_container Button{
    -fx-background-color: linear-gradient(to right,#04113D,#047dc2);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: white;

}

.accountView_container Button:hover{
    -fx-cursor: hand;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.accountView_container Button:pressed{
    -fx-cursor: hand;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}